* {
	box-sizing: border-box;
}

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
	font-size: 20px;
}

#about-title,
#section-title {
	background-color: rgb(207, 207, 207);
	color: rgb(87, 87, 87);
	font-size: 40px;
	border-radius: 10px;
	box-shadow: 0 2px 5px black;
	padding: 10px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	padding: 10px;
	box-shadow: 0 1px 5px rgb(126, 126, 126);
	background-image: linear-gradient(rgba(96, 117, 136), rgba(132, 168, 201));
}

.title-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
	margin-left: 20px;
}
.title-section h1 {
	display: flex;
	padding: 20px;
	font-size: 40px;
	font-weight: 700;
	text-shadow: 2px 2px #000000;
	letter-spacing: 2pt;
	color: rgb(187, 187, 187);
	flex: 1 0 50%;
	padding: 10px;
}

.title-info h2 {
	padding: 10px;
	font-size: 17px;
	font-weight: 100;
	color: #3b3535;
}

.title-info span {
	color: black;
	font-weight: 900;
}

header nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex: 2 0 auto;
}
header nav ul {
	display: flex;
	padding: 4px;
}
header nav ul a {
	text-decoration: none;
	color: #131414;
	font-size: 35px;
	font-weight: bolder;
	padding: 5px;
}
header nav ul a:hover {
	text-decoration: underline;
	color: #247474;
}

main {
	width: 100vw;
	display: block;
	position: relative;
	background-image: linear-gradient(
		rgba(249, 169, 134, 255),
		rgba(222, 166, 151, 255),
		rgba(202, 167, 161, 255),
		rgba(107, 147, 172, 255)
	);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.about-section {
	position: relative;
	display: block;
	float: left;
	width: 80%;
	margin: 5% 10%;
	border-radius: 25px;
}

.about-flex {
	display: flex;
	flex-direction: row;
	flex: 1 0 50%;
	justify-content: center;
	align-content: center;
}
#about-title {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
	text-align: center;
}

.about-me {
	display: flex;
	/* position: relative; */
	flex-direction: column;
	height: 100%;
	flex: 1 0 30%;
	padding: 20px;
	justify-content: space-around;
	align-content: center;
}

.about-me h2 {
	/* position: relative; */
	color: rgb(87, 87, 87);
	font-size: 30px;
	padding: 10px;
	text-align: left;
}

.about-div {
	position: relative;
	display: flex;
	padding: 15px;
	background-color: rgb(207, 207, 207);
	border-radius: 10px;
}

.about-div ul li {
	margin-left: 15px;
	padding: 5px;
	list-style-type: circle;
}

.about-div p {
	margin-right: 20px;
}
.my-photo {
	position: relative;
	display: block;
	width: 30%;
	height: 100%;
	margin: 20px 20px 20px 20px;
	padding: 25px;
	border-radius: 25px;
	box-shadow: 0 2px 5px black;
	background-image: linear-gradient(rgba(141, 141, 141, 0.685), rgba(255, 255, 255, 0.685));
}

.my-photo hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid rgb(0, 0, 0);
	margin: 1em 0;
	padding: 0;
}
.my-photo img {
	position: relative;
	border-radius: 10px;
	width: 100%;
}

.app-section {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	width: 100%;
	background-color: #ddddddab;
}

#section-title {
	position: relative;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20px;
	text-align: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-flow: row;
	flex-wrap: wrap;
	justify-items: space-around;
	padding: 25px;
}
#first-row {
	width: 30%;
}

.app-card {
	display: flexbox;
	transition: all 1s ease;
	padding: 2%;

	background-image: linear-gradient(rgb(141, 141, 141), rgb(255, 255, 255));
	box-shadow: 0 1px 5px rgb(126, 126, 126);
	border-radius: 25px;
}

#app-tag {
	position: relative;
	display: inline-block;
	color: rgb(85, 85, 85);
	font-size: 1.5rem;
	width: 100%;
	text-align: center;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-image: linear-gradient(#d2fcffd7, #9be7ecbe);
	border-radius: 100px;
	box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0, 0, 0, 0.5),
		inset 0 1px 1px rgba(255, 255, 255, 0.8);
}

#repo-link {
	position: relative;
	display: inline-block;
	font-size: 1.5rem;
	width: 74%;
	text-align: center;
	margin-top: 5%;
	margin-left: 13%;
	margin-right: 13%;
	padding: 10px;
	background-image: linear-gradient(#d49686be, #e76747be);
	border-radius: 100px;
	box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0, 0, 0, 0.5),
		inset 0 1px 1px rgba(255, 255, 255, 0.8);
}

#repo-link a {
	text-decoration: none;
	color: rgb(85, 85, 85);
}
#first {
	flex: 1.5;
}

#other {
	flex: 1;
	overflow: hidden;
	margin: 0 5%;
}

.app-card img {
	display: inline-block;
	width: 100%;
	border-radius: 25px;

	transform: scale(1);
	transition: all 0.7s ease;
	opacity: 0.7;
}

.app-card img:hover {
	opacity: 1;
	transform: scale(1.05);
	box-shadow: 0 2px 5px black;
}

.app-card h3 {
	padding: 10px;
}

.contact-section {
	width: 100vw;
	display: block;
	position: relative;
	float: left;
}

.contact-row {
	margin: 2% 5% 5% 5%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex: 1 0 33%;
}

.contact-me h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	font-size: 45px;
	font-style: italic;
	background: -webkit-linear-gradient(rgb(250, 250, 250), rgb(184, 184, 184));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.link-div {
	border-radius: 100px;
	display: flex;
	flex-direction: row;
	margin: 20px;
	transform: scale(1);
	transition: all 0.75s ease;
}

.link-div:hover {
	transform: scale(1.1);
}
.link-div img {
	position: relative;
	display: block;
	float: left;
	height: 50px;
	padding: 5px;
	flex-basis: 50px;
}

.link-div h3 {
	position: relative;
	padding-left: 10px;
	padding-right: 20px;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex: auto;
}

.link-div h3 a {
	font-size: 1rem;
	text-decoration: none;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 200;
}

#linkedin {
	background-color: #0e77a8;
}

#gmail {
	background-color: #ea4335;
}

#github {
	background-color: #4078c0;
}

footer {
	display: block;
	width: 100%;
	background-color: white;
	background-image: linear-gradient(rgba(132, 168, 201), rgba(96, 117, 136));
}

footer p {
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 50%;
}

@media screen and (max-width: 992px) {
	.about-flex {
		flex-direction: column;
	}

	#about-title,
	#section-title {
		width: 50%;
	}

	.my-photo {
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

	.contact-row {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

	.link-div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (max-width: 768px) {
	#app-tag,
	#repo-link {
		font-size: 1rem;
	}

	header nav ul a {
		font-size: 25px;
	}

	#first {
		flex: 1;
	}

	#first-row {
		width: 40%;
	}

	#about-title,
	#section-title {
		width: 60%;
		font-size: 30px;
	}
	.about-section {
		margin-top: 40px;
	}
}

@media screen and (max-width: 576px) {
	header {
		flex-direction: column;
	}

	header nav {
		justify-content: space-evenly;
	}

	header nav ul a {
		font-size: 20px;
	}

	.title-section h1 {
		font-size: 30px;
	}
	.my-photo {
		width: 70%;
	}

	.contact-row {
		width: 75%;
	}

	#first-row {
		width: 50%;
	}

	#other {
		margin: 2%;
	}
	#app-tag {
		font-size: 0.8rem;
	}

	.contact-me h1 {
		font-size: 30px;
	}
}
